---
import DefaultLayout from "../layouts/DefaultLayout.astro";
import { Button } from "../components/Button";
---

<DefaultLayout>
  <h1>Bienvenido a mi página About!</h1>
  <Button client:visible/>
</DefaultLayout>
